@import "Style";

.comment {
  width: 600px;
  height: auto;
  display: flex;
  border-bottom: 2px dashed black;
  margin: 3px 0px;
  .writer {
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    height: auto;
    align-items: center;

    img {
      flex-basis: 80%;
      border-radius: 9999px;
      width: 50px;
      height: 50px;
      margin: 5px 0px;
    }
    p {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      margin: 5px;
      font-weight: bold;
    }
  }

  .all {
    padding: 10px;
    flex-direction: column;
    flex-basis: 73%;
    width: 300px;
    white-space: pre-line;
    word-wrap: break-word;
    justify-content: space-between;
    .content {
      flex-grow: 11;
      min-height: 60px;
    }
    .createdDate {
      color: $blue-5;
      flex-grow: 1;
      margin-bottom: 0px;
    }
  }

  .buttons {
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    button {
      margin-right: 5px;
    }

    #LIKE {
      background-image: url(/public/thumbUp.png);
      width: 30px;
      height: 30px;
      background-color: blue;
      border: solid blue 0.5px;

      #LIKE:disabled {
        opacity: 20%;
      }
    }
    #DISLIKE {
      background-image: url(/public//thumbDown.png);
      width: 30px;
      height: 30px;
      background-color: red;
      border: solid red 0.5px;
      padding: 5px;
      #DISLIKE:disabled {
        opacity: 20%;
      }
    }
    .delete {
      background-color: $magenta-6;
      border: none;
      color: white;
      width: 25px;
      height: 25px;
      margin-top: 3px;
    }
    .delete:disabled {
      background-color: rgba(128, 128, 128, 0.24);
    }
  }
}
