@import "Style";

.detail {
  border-radius: 50px;
  border: solid black 5px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 140vh;
  margin: 0px;
  padding: 2%;
  z-index: 2;
  filter: blur(0px);

  hr {
    border: 1px white solid;
    opacity: 100%;
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
  .first-line {
    display: flex;
    h1 {
      color: white;
      width: 75%;
      height: auto;
      font-size: 48px;
    }
    .emotionbox {
      justify-content: flex-end;
      gap: 15px;
      display: flex;
      width: 25%;

      img {
        margin-top: 25px;
        width: 30px;
        height: 30px;
      }
      span {
        margin-top: 20px;
        color: white;
        font-size: 30px;
        text-decoration: underline solid white;
      }
    }
  }
  .edit {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    Button {
      width: 48px;
    }
  }
  .content {
    p {
      margin: 0 50px 50px 50px;
      color: white;
      font-family: $GowunDodum;
      font-size: $font-size-h3;
    }
    img {
      width: auto;
      height: auto;
    }
  }
  .ratingbuttons {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
    #USEFUL {
      background-size: cover;
      height: 100px;
      width: 100px;
      border-radius: 15px;
      &:disabled {
        background-image: url("/public/usefulDisabled.png");
        opacity: 100% !important;
      }
    }
    #FUN {
      background-size: cover;
      height: 100px;
      width: 100px;
      border-radius: 15px;
      &:disabled {
        background-image: url("/public/funnyDisabled.png");
        opacity: 100% !important;
      }
    }
    #BAD {
      background-size: cover;
      height: 100px;
      width: 100px;
      border-radius: 15px;
      &:disabled {
        background-image: url("/public/dislikeDIsabled.png");
        opacity: 100% !important;
      }
    }
  }

  .bottom-detail {
    margin: 0px;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 50px;
    .left {
      column-width: 8;
    }
    .input {
      display: flex;
      height: 100px;
      justify-content: space-between;
      button {
        flex-basis: 15%;
        width: 100px;
        height: 100px;
        border-radius: 12px;
        background-color: $blue-5;
        font-weight: bold;
        color: white;
      }
      .form-floating {
        padding: 10px;
        flex-basis: 85%;
        height: 100px;
        margin-right: 15px;
        border-radius: 12px;
        textarea {
          height: 100%;
          background-color: #ffffffc0;
        }
      }
    }
    .lst {
      background-color: white;
      overflow: auto;
      .cnt {
        font-size: 25px;
        font-weight: bold;
      }
    }
    .lst::-webkit-scrollbar {
      width: 10px;
    }
    .lst::-webkit-scrollbar-track {
      background: transparent; /* 스크롤바 트랙 배경색 */
    }

    .lst::-webkit-scrollbar-thumb {
      height: 3px;
      background: -webkit-linear-gradient(75deg, rgb(124, 124, 124), black);
      border-radius: 10px;
    }
    .vertical {
      border-radius: 12px;
      background-color: #00000060;
      padding: 5px;
      border: white 1px solid !important;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .header {
        color: white;
        margin: 10px 0px 0px 15px;
      }
      .reviewCard-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .detailCard {
          width: 320px;
          position: relative;
          overflow: hidden;
          padding-bottom: 55%;
          overflow: hidden;
          .card-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
