@import "Style";
.full-height-container {
  font-family: "GowunDodum", sans-serif;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  .left {
    height: 100vh;
    width: 40vw;
    background-color: tomato;
  }
  .right {
    height: 100vh;
  }
}

.maincpnt {
  opacity: 0%;
}

.maincpnt.animate {
  opacity: 100%;
  animation-name: slideIn;
  animation-duration: 3s;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(-10%);
  }
  15% {
    transform: translateX(0%);
  }
}

// @keyframes slideIn {
//   0% {
//     opacity: 0%;
//   }
//   50% {
//     opacity: 90%;
//   }
//   100% {
//     opacity: 100%;
//   }
// }
