@import "Style";

.ctn {
  height: 100vh;
  animation: changeImg 10s infinite;
  animation-duration: 10s;
  .btn {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    height: 70px;
    border-right: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
  }
  .selected {
    background-color: white !important;
    color: black;
  }
}
.blank {
  height: 30vh;
}

@keyframes changeImg {
  28% {
    background-image: url("/public/IndexPictures/dvd45.png");
  }
  33% {
    background-image: url("/public/IndexPictures/old45.png");
  }
  61% {
    background-image: url("/public/IndexPictures/old45.png");
  }
  66% {
    background-image: url("/public//IndexPictures/posters45.png");
  }
  94% {
    background-image: url("/public//IndexPictures/posters45.png");
  }
  99% {
    background-image: url("/public/IndexPictures/dvd45.png");
  }
}
