@import "Style";

.ctn {
  height: 100vh;
  animation: changeImg 5s ease-in-out infinite;
  animation-duration: 5s;
  .btn {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    height: 70px;
    border-right: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
  }
  .selected {
    background-color: white !important;
    color: black;
  }
}
.blank {
  height: 30vh;
}

@keyframes changeImg {
  33% {
    background-image: url("/public/IndexPictures/old.png");
  }
  65% {
    background-image: url("/public/IndexPictures/old.png");
  }
  66% {
    opacity: 100%;
    background-image: url("/public//IndexPictures/posters.png");
  }
  99% {
    background-image: url("/public//IndexPictures/posters.png");
  }
  100% {
    opacity: 100%;
    background-image: url("/public/IndexPictures/dvd.png");
  }
}
