@import "Style";

.movie-card {
  display: inline-block;
  font-family: $BMDoHyeon;
  font-size: $font-size-md;
  width: 250px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  .poster-image {
    height: 380px;
    border-radius: 1%;
    overflow: hidden;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movie-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .year-genres {
    font-family: $NanumGothic;
    font-size: $font-size-sm;
    color: $gray-8;
  }
}
