/* ReviewDetailPage.css */

.section {
  height: calc(200vh - 74px);
  scroll-snap-align: start;
  padding: 20px;
  border: 1px solid #ddd;
  padding: 0px;
  background-size: cover;
}
.section::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
  display: none; /* Chrome, Safari, Opera */
}
