// Review List
@import "Style";

.review-card-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 5px;
}

.empty-review-list-info {
  width: 100%;
  height: 100px;
  font-family: $BMDoHyeon;
  font-size: $font-size-lg;
  text-align: center;
  margin-top: 100px;
  color: $gray-5;
}
