@import "Style";

.search-form {
  $form-size: 34.25px;

  .search-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .criteria-select {
      font-family: $NanumGothic;
      width: 95px;
      border-radius: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .search-keyword {
      height: $form-size;

      .MuiInputBase-root {
        height: $form-size;
        border-radius: 0;
      }

      .MuiInputBase-root.MuiInputBase-input {
        font-family: $NanumGothic;
      }
    }

    .search-button {
      width: $form-size;
      height: $form-size;
      background-color: $gray-1;
      border: 1px solid $gray-4;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {
        background-color: $gray-3;
        border: 1px solid $black;
      }

      &:active {
        border: 2px solid $blue-6;
      }

      .search-icon {
        margin-bottom: 3px;
      }
    }
  }
}

.sort-container {
  margin-top: 5px;
  margin-left: 25px;
  display: flex;

  .selected {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: $black;
  }

  button {
    font-family: $BMDoHyeon;
    color: $gray-7;
    border: none;
    background-color: transparent;

    .sort-icon {
      $icon-size: 20px;
      svg {
        width: $icon-size;
        height: $icon-size;
        margin-right: 2px;
      }
    }
  }

  .term-select {
    margin-left: 10px;
  }

  .only-interest-switch {
    margin-left: 10px;

    .MuiTypography-root {
      font-family: $BMDoHyeon;
      font-size: $font-size-sm;
      margin-top: 2px;
    }
  }
}
