@import url("https://webfontworld.github.io/woowahan/BMDoHyeon.css");
@import url("https://webfontworld.github.io/yangheeryu/GowunBatang.css");
@import url("https://webfontworld.github.io/yangheeryu/GowunDodum.css");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");

$GowunBatang: "GowunBatang";
$GowunDodum: "GowunDodum";
$BMDoHyeon: "BMDoHyeon";
$NanumGothic: "NanumGothic";

$base-font-size: 16px;
$font-size-h1: $base-font-size * 2.5;
$font-size-h2: $base-font-size * 2;
$font-size-h3: $base-font-size * 1.75;
$font-size-xl: $base-font-size * 1.38;
$font-size-lg: $base-font-size * 1.13;
$font-size-md: $base-font-size;
$font-size-sm: $base-font-size * 0.88;
$font-size-xs: $base-font-size * 0.75;

$blue-10: #24304a;
$blue-9: #354568;
$blue-8: #475a85;
$blue-7: #5b71a2;
$blue-6: #7189bf; // blue-base
$blue-5: #88a2dc;
$blue-4: #a1bcf9;
$blue-3: #bfd3ff;
$blue-2: #dbe6ff;
$blue-1: #f6f8ff;

$magenta-10: #4d1d2e;
$magenta-9: #6a2c41;
$magenta-8: #883b55;
$magenta-7: #a54d6b;
$magenta-6: #c26081;
$magenta-5: #df7599; // magenta-base
$magenta-4: #fc8cb2;
$magenta-3: #ffafca;
$magenta-2: #ffd1e1;
$magenta-1: #fff3f7;

$yellow-10: #50391d;
$yellow-9: #6d4e2a;
$yellow-8: #8a6539;
$yellow-7: #a87c4a;
$yellow-6: #c5955c;
$yellow-5: #e2ad70;
$yellow-4: #ffc785; // yellow-base
$yellow-3: #ffd8a9;
$yellow-2: #ffe8ce;
$yellow-1: #fff9f3;

$mint-10: #1a443f;
$mint-9: #29615a;
$mint-8: #387f75;
$mint-7: #4a9c91;
$mint-6: #5db9ad;
$mint-5: #72d6c9; // mint-base
$mint-4: #89f3e5;
$mint-3: #aefcf2;
$mint-2: #d2fff9;
$mint-1: #f4fffd;

$gray-10: #3d3d3d;
$gray-9: #525252;
$gray-8: #666666;
$gray-7: #7a7a7a;
$gray-6: #8f8f8f;
$gray-5: #a3a3a3;
$gray-4: #b8b8b8;
$gray-3: #cccccc;
$gray-2: #e0e0e0;
$gray-1: #f5f5f5;

$black: #000;
$white: #fff;
